.container{
    background: linear-gradient(to right, red, green,yellow);
    height: 30px;
    text-align: center;
    text-decoration: underline;
}
.container1{
    margin: 40px;
    height: 80px;
    width: 70vw;
    background-color: aqua;
    border: 3px solid red;
    border-radius: 25px;
    text-align: center;
}
.container2{
  margin: 25px;
  height: 200px;
  width: 95vw;
  border: 5px solid green;
  background-color:steelblue;
  border-radius: 25px;
  display:inline-block;
  justify-content: center;
}   
.item01{
    position: absolute;
    margin-bottom: 10px;
    height: 85px;
    width: 400px;
    font-style: italic;
    font-weight: bold;
    background-color: saddlebrown;
    border: 3px solid blue;
    border-radius: 25px;
}
.item02{
    position: absolute;
    margin-bottom: 10px;
    height: 85px;
    width: 400px;
    right: 20px;
    font-style: italic;
    font-weight: bold;
    background-color: saddlebrown;
    border: 3px solid blue;
    border-radius: 25px;
}
.item03{
    position: absolute;
    right: 550px;
    height: 85px;
    width: 400px;
    font-style: italic;
    font-weight: bold;
    background-color: saddlebrown;
    border: 3px solid blue;
    border-radius: 25px;
}
.item04{
    position: absolute;
    margin-bottom: 10px;
    height: 85px;
    width: 400px;
    font-style: italic;
    font-weight: bold;
    top: 22vw;
    right: 550px;
    background-color: saddlebrown;
    border: 3px solid blue;
    border-radius: 25px;
}
.item01{
    padding-left: -50px;
}
.container3{
    background-image: radial-gradient(yellow, red);
    height: 30px;
    text-align: center;
    text-decoration: underline;
}
.container4{
  margin-top: 15px;
  height: 250px;
  width: 95vw;
  background-image: radial-gradient(white,blue,green);
  border: 5px solid aqua;
  border-radius: 25px;
  display: flex;
  justify-content: center;

}
.item1{
    display: inline-block;
    width: 280px;
    height: 150px;
    background-color: rgb(190, 190, 38);
    border: 3px solid red;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    margin: 45px;
    text-decoration: underline;
}
.container6{
width: 98%;
margin: 50px auto;
display: grid;
grid-template-rows:60px 100px 200px 60px  ;
grid-template-columns:repeat(3,1fr)100px;
grid-gap: 20px;  
}
.item11{
    text-align: center;
    font-weight: bold;
    background-color: red;
    text-decoration: underline;
    grid-column: 1/5;
}
.item12{
    text-align: center;
    font-weight: bold;
    background-color:yellowgreen;
}
.item13{
    text-align: center;
    font-weight: bold;
    background-color:skyblue;
}
.item14{
    text-align: center;
    font-weight: bold;
    background-color:blue;   
}
.item15{
    font-weight: bold;
    font-size: x-large;
    background-color:orange;
    grid-column: 1/4;
}
.item16{
    background-color:dimgray;
    grid-row: 3/4;
    grid-column: 4/5;
}